<h1> Agrega tu comentario al restaurant: <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
<%= f.input :content, label:"comentario" %>
<%= f.submit class: 'btn btn-primary' %>
<% end %>


